* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
}


.primaryHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 10px;
    padding: 10px;
}

.mobileNavToggle{
    /* margin: 10px; */
    /* padding: 10px; */
    display: block;
    border: 0;
    background: url(/images/icon-menu.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    aspect-ratio: 1;
    width: 26px;
    transition: background .1s ease-in;
    cursor: pointer;
}

.mobileNavToggle[data-close = "true"]{
    background: url(/images/icon-close-menu.svg);
    position: fixed;
}

#primaryNavigation{
    display: flex;
    list-style: none;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    inset: 0 0 0 35%;
    color: hsl(0, 0%, 41%);
    background: hsl(0, 0%, 98%);
    padding: 70px 10px 10px 10px;
    transform: translateX(100%);
    transition: transform .5s ease-in;
    z-index: 1000;
    overflow-y: scroll;
    scrollbar-;
}

#primaryNavigation[data-visible="true"]{
    transform: translateX(0%);
}

#feature, #company, #careers, #about{
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}



#login, #register{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#login{
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 10px;
}

#register{
    border: 2px solid;
    border-color: hsl(0, 0%, 41%);
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
}

#feature, #company{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

#feature img, #company img{
    margin: 5px;
}

#featureNav, #companyNav{
    display: none;
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}

#featureNav[data-show = "true"]{
    display: block;
}

#companyNav[data-show = "true"]{
    display: block;
}

#feature span img, #company span img{
    margin-left: 5px;
}

#featureNav span{
    margin-right: 5px;
}

#featureNav li, #companyNav li{
    padding: 10px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero_img{
    overflow: hidden;
}

.hero_img img{
    width: 100%;
    width: 100%;
}

.hero_txt{
    margin: 45px 10px 20px 10px;
    font-size: 220%;
    color: hsl(0, 0%, 8%);
}

.hero_subtxt{
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0 20px 0;
    padding: 0 10px 0 10px;
    color: hsl(0, 0%, 41%);
}

.btn{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 40px;
    border: 0;
}

.clients{
    display: flex;
    margin: 0 10px 70px 10px;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    width: inherit;
}

.clients img{
    object-fit: scale-down;
    height: 24px;
    width: 20%;
}


#menucover{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: hsl(0, 0%, 0%);
    opacity:0;
}

@media()