* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background-color: hsl(0, 0%, 98%);
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 15px 25px 15px;
    z-index: 2;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 0
}

.hero_img{
    overflow: hidden;
    z-index: 0
}

.hero_img img{
    width: 100%;
    width: 100%;
}

.hero_txt{
    margin: 45px 10px 20px 10px;
    font-size: 220%;
    color: hsl(0, 0%, 8%);
}

.hero_subtxt{
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0 20px 0;
    padding: 0 10px 0 10px;
    color: hsl(0, 0%, 41%);
}

.btn{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 40px;
    border: 0;
    position: relative;
}

.clients{
    display: flex;
    margin: 0 10px 70px 10px;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    /* flex-wrap: wrap; */
}

.clients img{
    object-fit: scale-down;
    height: 24px;
    width: 20%;
}

.menu{
    border: 0;
    background-color: hsla(0, 0%, 0%, 0);
}

.dropmenu{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100vh;
    right: 0;
    background-color: hsl(0, 45%, 35%);
}

.nav_links, .nav_user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.nav_links{
    justify-content: space-between;
    list-style: none;
    margin: 30px;
    height: 150px;
}

.nav_user{
    align-self: center;
    justify-content: space-between;
    height: 8%;
    list-style: none;
}

.register{
    border: 5px;
    border-color: hsl(0, 0%, 41%);
    border-radius: 5px;
}