* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
}


.primaryHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 10px;
    padding: 10px;
}

.mobileNavToggle{
    /* margin: 10px; */
    padding: 10px;
    display: block;
    border: 0;
    background: url(/images/icon-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 3vw;
    z-index: 9999;
    aspect-ratio: 1/1;
    width: 50px;
    transition: background .1s ease-in;
}

.mobileNavToggle[data-close = "true"]{
    background: url(/images/icon-close-menu.svg);
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#primaryNavigation{
    display: flex;
    list-style: none;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    width: 65%;
    position: fixed;
    inset: 0 0 0 35%;
    color: hsl(0, 0%, 41%);
    background: hsl(0, 0%, 98%);
    padding: 70px 10px 10px 10px;
    transform: translateX(100%);
    transition: transform .5s ease-in;
    z-index: 1000;
    overflow-y: scroll;
}

#primaryNavigation[data-visible="true"]{
    transform: translateX(0%);
}

#feature, #company, #careers, #about{
    padding: .5em;
    margin: .5em auto;
    width: 100%;
}



#login, #register{
    display: flex;
    align-items: center;
    justify-content: center;
}

#login{
    margin-top: 1em;
    margin-bottom: 0px;
    padding: .7em;
}

#register{
    border: 2px solid;
    border-color: hsl(0, 0%, 41%);
    border-radius: 15px;
    padding: .7em;
    margin: 1em auto;
    width: 90%;
}

#feature, #company{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

#feature img, #company img{
    margin: 5px;
}

#featureNav, #companyNav{
    display: none;
    list-style: none;
    margin-left: 20px;
    /* margin-top: 10px; */
}

#featureNav[data-show = "true"]{
    display: block;
}

#companyNav[data-show = "true"]{
    display: block;
}

#feature span img, #company span img{
    margin-left: 5px;
}

#featureNav span{
    margin-right: 5px;
}

#featureNav li, #companyNav li{
    padding: .5em;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero_img{
    overflow: hidden;
    width: 100%;
    /* object-fit: contain; */
}

.hero_img :nth-child(1){
    width: 100%;
    object-fit: contain;
}

.hero_img :nth-child(2){
    display: none;
}

.info{
    width: 90%;
}

.hero_txt{
    margin: 1em auto;
    font-size: 2.2rem;
    color: hsl(0, 0%, 8%);
}

.hero_subtxt{
    font-size: 1rem;
    line-height: 1.5;
    margin: 1em auto;
    /* padding: 0 10px 0 10px; */
    color: hsl(0, 0%, 41%);
}

.btn{
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
    padding: 1em;
    margin: 1em auto;
    border: 0;
}

.clients{
    display: flex;
    margin: 2em auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
}

.clients img{
    object-fit: contain;
    height: 24px;
    width: 20%;
}


#menucover{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: hsl(0, 0%, 0%);
    opacity:0;
}

@media(min-width: 426px){
    .hero{
        display: flex;
        max-width: 100vw;
        --widthh: 100vw
        /* overflow: hidden; */
        flex-direction: row-reverse;
        /* justify-content: center;
        align-items: center; */
        margin: 10px 40px 50px 40px;
        /* overflow-y: visible; */
    }

    .hero_img{
        width: 100%;
        overflow: hidden;
        margin-left: 5vw;
    }

    .hero_img :nth-child(2){  
        display:unset;
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* object-position: center; */
        
    }

    .hero_img :first-child{
        display: none;
    }

    .hero_txt{
        margin: 0;
        font-size: clamp(3rem, 6.2vw, 7rem);
        color: hsl(0, 0%, 8%);
        margin: 40px 0 40px 0;

    }
    
    .hero_subtxt{
        font-size: clamp(1rem, 2vw, 1.5rem);
        line-height: 1.5;
        margin: 0  0 40px 0;
        padding: 0 20px 0 0;
        color: hsl(0, 0%, 41%);
    }

    .info{
        grid-area: heroTxt;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        /* margin-right: 5vw; */
    }

    .desktop{
        margin-left: 0vw;
    }

    .clients{
        margin: 0 10px;
        /* justify-self: flex-end; */
    }
    
    .btn{
        margin-bottom: 6vw;
        font-size: clamp(1rem, 2vw, 1.5rem);
    }

    .hero_img{
        width: 100vw;
        margin: 0;
    }
}

/* @media(min-width: 769px){
    .primaryHeader{
        margin: 2rem
    }

    .mobileNavToggle{
        display: none;
    }

    #primaryNavigation{
        display: flex;
        align-items: center;
        position:unset;
        flex-direction: row;
        transform: translateX(0);
        min-height: unset;
        padding: 10px;
        overflow-y: unset;
        margin: 0;
        padding: 0;
    }
    
    .logo{
        margin: 0;
        padding: 0;
    }

    #login, #register{
        display: unset;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    #feature, #company, #careers, #about, #login, #register{
        margin: 0;
    }
    
    .hero_subtxt{
        font-size: clamp(1rem, 2vw, 1.5rem);
        line-height: 1.5;
        margin: 0  40px 40px 0;
        padding: 0 60px 0 0;
        color: hsl(0, 0%, 41%);
    }

    .hero{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 10px 12vw;
        overflow-y: visible;
    }
} */